body {
  background-color: #ffff;
  color: #000000;
  font-size: 16px;
  line-height: 125%;
  font-family: sans-serif;
}
h1 {
  font-size: 2em;
  line-height: 150%;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  font-family: serif;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.25em;
  margin: 10px 0px 10px 0px;
  color: #a9a9a9;
}

a {
  text-decoration: none;
  color: #ffff;
}

a:hover {
  color:#c0c0c0;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

p {
  margin: 15px 0px 15px 0px;
}

figcaption {
  font-size: .75em;
}

.author {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  align-items: center;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
